.footer {
    background-color: #D9D9D9;
    height: 170px;
}

.footerDiv {
    display: flex;
    padding-top: 10px;
    margin-left: 90px;
    gap: 25%;
    margin-bottom: 30px;
}
.footertitle {
    margin-top: 15%;
    font-size: 20px;
}

.category {
    margin-top: 20px;
}